# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List common libraries for Data Science
- List three Data Science tools
- Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. R
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy
4. SciPy
5. PyTorch

|Data Science Tools|
|---|
|Apache Hadoop|
|SAS|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Ty Simpson